.footer {
  background: #0b0c0d;
  display: flex;
  flex-direction: row;
  column-gap: 150px;
  // margin-left: 84px;
  // margin-right: 127px;
  padding: 38px 127px 84px 121px;

  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 174px;
    padding-right: 67px;
  }

  &__title {
    font-family: $main-family;
    font-weight: 800;
    font-size: 37px;
    line-height: 109%;
    letter-spacing: -0.03em;
    color: #35c66b;
  }

  &__tel {
    font-family: $main-family;
    font-weight: 500;
    font-size: 26px;
    color: #35c66b;
    text-decoration: none;
  }




  &__center{
    padding-right: 108px;
  }


  &__nav {
    display: flex;
    flex-direction: row;
    column-gap: 82px;
  }

  &__list {
    font-family: $main-family;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: rgba(187, 179, 179, 0.43);

    display: flex;
    flex-direction: column;
    row-gap: 8px;
    cursor: pointer;
    &-item:hover {
      color: #bbb3b3;
    }
  }


  &__right{
    display: flex;
    flex-direction: column;
    row-gap: 128px;
    align-items: flex-end;
  }

  &__up{
    background: #0b0c0d;
    border: none;

    cursor: pointer;
  }
}
