// fonts

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// .montserrat-<uniquifier> {
//   font-family: "Montserrat", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }
@import "variable";
@import "header";
@import "stat";
@import "products";
@import "events";
@import "contacts";
@import "footer";

//base

html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background: #121517;
  background-image: url(/img/main-bg.png);
  background-size: 1920px;
  background-repeat: no-repeat;

}

.colored {
  color: #35c66b;
}

