@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header__top {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 94px;
       column-gap: 94px;
  margin-top: 48px;
  margin-left: 130px;
  margin-right: 733px;
}

.header__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 37px;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.header__list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 93px;
       column-gap: 93px;
  align-items: center;
  padding: 9px 0;
}
.header__list-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #d9d9d9;
}
.header__list-item:hover {
  cursor: pointer;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header__main {
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  row-gap: 54px;
  margin-top: 80px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 155px;
       column-gap: 155px;
  justify-content: space-around;
}

.header__banner {
  display: flex;
  flex-direction: column;
  row-gap: 54px;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
}

.header__text {
  width: 570px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
}

.header__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 570px;
}

.header__btn {
  background: #121517;
  border-radius: 83px;
  padding: 54px 20;
  height: 74px;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -0.03em;
  color: #d9d9d9;
  transition: all 0.2s ease-in;
}
.header__btn:hover {
  background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
  border-radius: 83px;
  width: 240px;
  height: 74px;
  padding: 20px 79;
  cursor: pointer;
}

.ratings {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 46px;
       column-gap: 46px;
}
.ratings__item {
  display: flex;
  flex-direction: column;
  row-gap: 0.52px;
}
.ratings__number {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 62px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
}
.ratings__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 144%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
}

.header__bottom {
  width: 1115px;
  margin-top: 23px;
  margin-left: 161px;
  margin-right: 236px;
}

.stat {
  margin-top: 100px;
  margin-left: 92px;
  margin-right: 126px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 289px;
       column-gap: 289px;
  align-items: center;
}
.stat__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 63px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.stat__wrapper-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 411px;
}
.stat__wrapper-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
  max-width: 457px;
}

.products {
  display: flex;
  flex-direction: column;
  row-gap: 54px;
  margin-top: 100px;
  margin-left: 130px;
  margin-right: 253px;
  width: 1466px;
}
.products__top {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 72px;
       column-gap: 72px;
  padding-right: 271px;
  align-items: center;
}
.products__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
  width: 392px;
}
.products__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
  width: 444px;
}
.products__slider {
  position: relative;
}
.products__slider-btn {
  width: 74px;
  height: 74px;
  position: absolute;
  right: 0;
  top: 50%;
}
.products__slider-btn:hover {
  cursor: pointer;
}
.products__cards {
  width: 277px;
  height: 554px;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 54px;
       column-gap: 54px;
}
.products__cards-img--wrapper {
  margin-top: 11px;
  background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
  width: 186px;
  height: 186px;
  border-radius: 100%;
  box-shadow: 0 5px 52px 0 rgba(0, 0, 0, 0.39);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.products__cards-item {
  background-image: url("../img/svg/white-bg.svg");
  background-position: center;
  background-size: cover;
  transition: all 0.1s ease-in;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 29px;
  width: 277px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  border: 1px solid white;
}
.products__cards-item:hover {
  background-image: url("../img/svg/hover-card.svg");
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid #35c66b;
  background-position: center;
}
.products__cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.products__cards-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #fff;
  padding-bottom: 18px;
}
.products__cards-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #d9d9d9;
  padding-bottom: 7px;
}
.products__cards-tag {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 35px;
       column-gap: 35px;
  align-items: center;
  margin-bottom: 30px;
}
.products__cards-price {
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -0.02em;
}
.products__cards-size {
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
}
.products__cards-btn {
  width: 186px;
  height: 54px;
  border-color: linear-gradient(210deg, #237249 0%, #35c66b 100%);
  border-radius: 60px;
  background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
  color: #fff;
  font-weight: 639;
  font-size: 17px;
  line-height: 146%;
  letter-spacing: -0.02em;
  cursor: pointer;
}

body {
  overflow-x: hidden;
  background: #121517;
  background-image: url(/img/main-bg.png);
  background-size: 1920px;
  background-repeat: no-repeat;
}

.colored {
  color: #35c66b;
}/*# sourceMappingURL=style.css.map */